---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<h1>Política de Privacidade</h1>
		<p>
			A sua privacidade é importante para nós. É política do Dicionário de
			Português respeitar a sua privacidade em relação a qualquer informação sua
			que possamos coletar no site Dicionário de Português, e outros sites que
			possuímos e operamos.
		</p>

		<div>
			<h3>Informaçāo Pessoal</h3>
			<p>
				Não coletamos informações pessoais sobre você quando você visita nossos
				sites ou usa nossos aplicativos.
			</p>
		</div>

		<div>
			<h3>Cookies</h3>
			<p>
				Cookies são arquivos simples de texto que são armazenados no seu
				computador ou dispositivo móvel por um servidor de um site. Cada cookie
				é único para o seu navegador da web. Ele conterá algumas informações
				anônimas, como um identificador exclusivo e o nome do site e alguns
				dígitos e números.
			</p>
			<p>
				Como a maioria dos sites na Internet, nossos sites ou aplicativos podem
				usar cookies para fornecer a você uma experiência melhor.
			</p>
		</div>

		<div>
			<h3>Informaçāo de contacto</h3>
			<p>
				Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em
				contato conosco por e-mail: <a href="mailto:gouveiamartins6@gmail.com">gouveiamartins6@gmail.com</a>.
			</p>
		</div>

		<div>
			<h3>Consentimento</h3>
			<p>
				Ao usar nosso site/extensāo, você concorda com a nossa Política de Privacidade e
				concorda com seus termos.
			</p>
		</div>

		<div>
			<h3>Alterações</h3>
			<p>
				Podemos alterar esta Política de Privacidade a qualquer momento. A
				política é relevante na medida em que é publicada neste site. Se
				alterarmos, atualizaremos a data de modificação da Política de
				Privacidade abaixo.
			</p>
		</div>

		<p class="last-change">Esta política foi modificada pela última vez em 2025-02-15.</p>
	</main>
</Layout>

<style>
    main {
        padding: 2rem 8rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    p {
        margin-top: 0.5rem;
    }

    .last-change {
        margin-top: 2rem;
        font-size: 0.8rem;
        color: #666;
    }
</style>
